NEXT_PUBLIC_SUPABASE_URL=https://dfsshdxwgeuqixwlkcmz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRmc3NoZHh3Z2V1cWl4d2xrY216Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MTkzMzUsImV4cCI6MjA5Mzk5NTMzNX0.PIyZ65hfu8PXep_5Q8q6iECu37aqh_OBnIjFhueE-lU
NEXT_PUBLIC_ADMIN_PASSWORD=Abdalla_774
